/* General Styling */
main {
    max-width: 1000px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #0073aa;
    outline: none;
}

/* Support Sections */
.support-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.support-section {
    flex: 1;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    min-width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Total Support Time */
.total-time {
    margin-top: 20px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}
